.nearbtn_true{
    background-color: green;
    padding: 14px 16px;
    width: 210px;
    font-family: inherit;
    margin: 0;
    margin: 1px;
}
.nearbtn_false{
    background-color: grey;
    padding: 14px 16px;
    width: 210px;
    font-family: inherit;
    margin: 0;
    margin: 1px;
}

.filter_section{
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px;
}



