.dropdown {
    float: left;
    overflow: hidden;
  }


  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.316);
    color: #0f0101;
    padding: 14px 16px;
    width: 300px;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(44, 200, 9);
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
 
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .container{
    display :grid;
    row-gap: 2rem;
  }

  
  .dntbtn{
    color: white;
    height: max-content;
    width: max-content;
    background-color: blue;
    font-weight: bold;
    padding: 1rem;
  }
  .dntbtn:hover{
    background-color: rgb(54, 54, 192);
  }


  .find_books{
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-top: 5px;
  }
  .container{
    display: flex;
    gap: 30px;
  }
  .home_sweet_home{
    height: 100vh;
  }

  .home_footer{
    bottom: 0;
  }
  @media screen and (max-width: 600px) {
    .container{
      display: grid;
      
    }
  }